@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.todo-counter {
    margin-top: 2em;
    font-size: 2em;
    color: white;
    border-bottom: 1px solid white;
    padding: 0.5em 0;
    text-align: center;
    font-family: 'Indie Flower';
}