@import './styles/reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

body {
    font-family: sans-serif;
    background-image: url('./images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg');
    background-position: contain;
    background-repeat: no-repeat;
    
}